:root {
  color-scheme: light dark;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}

.padding {
  padding: 2rem 1rem;
}
